<div class="field">
  <%= f.label :account_date %>
  <%= f.date_field :account_date, class: 'form-control' %>
  <%= f.label :facility %>
  <%= f.text_field :facility, class: 'form-control' %>
  <%= f.label :section_from %>
  <%= f.text_field :section_from, class: 'form-control' %>
  <%= f.label :section_to %>
  <%= f.text_field :section_to, class: 'form-control' %>
  <%= f.label :round_trip %>
  <%= f.select :round_trip, [["片道", false], ["往復", true]], include_blank: "片/往" %>
  <%= f.label :amount %>
  <%= f.number_field :amount, class: 'form-control' %>
  <% if @expense_statement.persisted? %>
    <%= f.label '削除' %>
    <%= f.check_box :_destroy %>
  <% end %>
  <br>
</div>